<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->


<body class="">
    <div class="wrapper ">
      <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
  
          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo"><a  class="simple-text logo-normal">
            BMCAF
          </a></div>
        <div class="sidebar-wrapper">
          <ul class="nav">
            <li class="nav-item active  ">
              <a class="nav-link" routerLink='/menu2' routerLinkActive='active' >
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" routerLink='/profil-tuteur' routerLinkActive='active'>
                <i class="material-icons">person</i>
                <p>Profil Tuteurs</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" routerLink='/liste-utilisateur-mod' routerLinkActive='active'>
                <i class="material-icons">content_paste</i>
                <p>Liste des utilisateurs</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" routerLink='/cours-mod' routerLinkActive='active'>
                <i class="material-icons">
                  style
                </i>
                <p>Cours</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" routerLink='/chat-tuteur' routerLinkActive='active' >
                <i class="material-icons">
                  question_answer
               
                </i>
                  <p>Chat</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <a class="navbar-brand" href="javascript:;" style="font-weight: bolder; color:#301934;font-size:20px;text-align: center center;">Dashboard</a>
            </div>
            <div class="collapse navbar-collapse justify-content-end">
              <ul class="navbar-nav">
                <li style="font-weight: bold;">{{currentUser.username}}</li>         

                <li class="nav-item dropdown">
                  <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">person</i>
                    <p class="d-lg-none d-md-block">
                      Account
                    </p>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                    <a class="dropdown-item" href="/profil-tuteur">Profil</a>
                    <div class="dropdown-divider"></div>
                    <a href class="dropdown-item" (click)="logout()">Deconnexion</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">supervisor_account</i>
                    </div>
                    <p class="card-category">Apprenants</p>
                    <h3 class="card-title">{{nombre}}</h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons">date_range</i> Last 24 Hours
                    </div>
                  </div>
                </div>
              </div>
              </div>
              </div>
              </div>
        </div>
        </div>
        <!-- End Navbar -->                  
  </body>