<body class="">
    <div class="wrapper ">
      <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
  
          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo"><a class="simple-text logo-normal">
          BMCAF
          </a></div>
        <div class="sidebar-wrapper">
          <ul class="nav">
            <li class="nav-item  ">
              <a class="nav-link" routerLink='/menu2' routerLinkActive='active' >
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" routerLink='/profil-tuteur' routerLinkActive='active'>
                <i class="material-icons">person</i>
                <p>Profil tuteur</p>
              </a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link" routerLink='/liste-utilisateur-mod' routerLinkActive='active' >
                <i class="material-icons">content_paste</i>
                <p>Liste des apprenants</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" routerLink='/cours-mod' routerLinkActive='active'>
                <i class="material-icons">
                  style
                </i>
                <p>Cours</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" routerLink='/chat-tuteur' routerLinkActive='active' >
                <i class="material-icons">
                  question_answer
               
                </i>
                  <p>Chat</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <a class="navbar-brand" style="font-weight: bolder; color:#301934;font-size:20px;text-align: center center;">Liste des apprenants</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
              <span class="sr-only">Toggle navigation</span>
              <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end">
              <ul class="navbar-nav">
                <li style="font-weight: bold;">{{currentUser.username}}</li>         
                <li class="nav-item dropdown">
                  <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">person</i>
                    <p class="d-lg-none d-md-block">
                      Account
                    </p>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                    <a class="dropdown-item" href="/profil-tuteur">Profil</a>
                    <div class="dropdown-divider"></div>
                    <a href class="dropdown-item" (click)="logout()">Deconnexion</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title " >Tableau de bord des apprenants</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class=" text-primary">
                          <th>
                          Username
                          </th>
                          <th>
                             Adresse E-mail
                          </th>
                          <th>
                            Ville
                          </th>
                          <th>
                            Pays
                          </th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of userService.users">
                            <td>
                              {{item.username}}
                            </td>
                            <td >{{item.email}}
                            </td>
                            <td >{{item.ville}}
                             
                            </td>
                            <td >
                              {{item.pays}}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </body>  
