
<body class="host_version"> 


    <!-- LOADER 
	<div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	 END LOADER -->	

    <!-- Start header -->
	<header class="top-navbar" style="height: 70px; ">
		<nav class="navbar navbar-expand-lg navbar bg" style="background-color:white ;">
			<div class="container-fluid">
				<img src="../../assets/img/logo.png" style="width:50px">&nbsp;
				<a class="navbar-link" routerLink="/template" routerLinkActive='active' style="font-family:Verdana, Geneva, Tahoma, sans-serif; color:black; font-style: Bold;">
					BMCAF 
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-host">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item "><a class="nav-link" routerLink="/template" routerLinkActive='active' ><span>Accueil</span></a></li>
						<li class="nav-item active">
							<a class="nav-link " routerLink='/course-grid' routerLinkActive='active' ><span >Cours</span> </a>
						</li>
					</ul>
					&nbsp; &nbsp;
					<ul class="nav navbar-nav navbar-right">
                        <li><a class="hover-btn-new log orange" routerLink='/login' routerLinkActive='active'  data-toggle="modal" data-target="#login"><span style="width: 5px;">Rejoignez-nous</span></a></li>
                    </ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
	
	<div id="carouselExampleControls" class="carousel slide bs-slider box-slider"  data-ride="carousel" data-pause="hover" data-interval="false" >
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active"  >
				<div id="home" class="first-section" style="background-image:url('../../assets/img/formation-en-ligne.jpg'); background-repeat: no-repeat;
			background-color: #FFFFFF;"	>
					<div class="dtab">
						<div class="container">
							<div class="row">
								<div class="col-md-12 col-sm-12 text-right">
									<div class="big-tagline" style="text-align: center;">
										<h2>
											Cours disponibles</h2>
									</div>
								</div>
							</div><!-- end row -->            
						</div><!-- end container -->
					</div>
				</div><!-- end section -->
			</div>
		</div>
	</div>
	
    <div id="overviews" class="section wb" >
        <div class="container">
            <hr class="invis"> 

			<h1 style="margin-bottom:50px">A une date bien déterminée, les participants des différents pays passent un  examen.
				Il existe deux types d’évaluation :
				</h1>
            <div class="row"> 
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="course-item">
						<div class="image-blog">
							<img src="../../assets/img/blog_1.jpg" alt="" class="img-fluid">
						</div>
						<div class="course-br">
							<div class="course-title">
								<h2><a routerLink='/login' routerLinkActive='active' title="">Devoir</a></h2>
								<p>Donné aux apprenants par l’enseignant à la fin de chaque module. Si l’apprenant obtient une note supérieure ou égale à 50%, un badge de réussite lui sera décerné.</p>
							</div>
						</div>
					</div>
                </div><!-- end col -->

                <div class="col-lg-6 col-md-6 col-12">
                    <div class="course-item">
						<div class="image-blog">
							<img src="../../assets/img/blog_2.jpg" alt="" class="img-fluid">
						</div>
						<div class="course-br">
							<div class="course-title">
								<h2><a routerLink='/login' routerLinkActive='active' title="">Examen de certification payante</a></h2>
								<p>A la fin de chaque formation l’apprenant peut passer une certification connue à l’échelle mondiale.</p>							</div>	
						</div>
					</div><!-- end col -->	
				</div><!-- end row -->
        </div>
    </div>

<br>
	<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3></h3>
                        </div>
                       
					                       
						<div class="footer-right">
							<ul class="footer-links-soi">
								<li><a href="https://www.facebook.com/Bmcaf"><i class="fa fa-facebook" style="width: 18px;
									height: 18px;
									position: absolute;
									top: 0px;
									left: 5px;
									color: rgb(15, 6, 6);
									font-size: 18px;
									margin-top: 6px;" ></i></a></li>
								<li><a href="https://www.linkedin.com/in/khaled-bouguerra-2592ba64/"><i class="fa fa-linkedin"  style="width: 18px;
									height: 18px;
									position: absolute;
									top: 0px;
									left: 5px;
									color: rgb(15, 6, 6);
									font-size: 18px;
									margin-top: 6px;"></i></a></li>
                                <li><a href="https://twitter.com/BMCAF1"><i class="fa fa-twitter"  style="width: 18px;
									height: 18px;
									position: absolute;
									top: 0px;
									left: 5px;
									color: rgb(15, 6, 6);
									font-size: 18px;
									margin-top: 6px;"></i></a></li>


							</ul><!-- end links -->
						</div>						
                    </div><!-- end clearfix -->
                </div><!-- end col -->

				<div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">

                        </div>
<!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>CONTACT</h3>
                        </div>

                        <ul class="footer-links">
                            <li>Email : <a href="mailto:#"> bmcaformation@gmail.com / bmca_formation@yahoo.fr</a></li>
                            <li>Adresse : BMCAF - Cité la ruche - Zaghouan 1100</li>
                            <li>Tél : (+216) 72 684 275   </li>
                            <li>Fax : (+216) 72 675 398   </li>
                            <li>Mobile : (+216) 50 150 061   </li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">                   
                    <p class="footer-company-name">All Rights Reserved. &copy; 2018 </p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
</div>
</body>
